<div class="content">
  <div><h1>Welcome to </h1><h1 class="logo-type">Book a Book</h1></div>
  <% if user_signed_in? %>
      <p><%= link_to "Add a book", new_book_path, class:"btn btn-primary btn-lg" %></p>
      <p><%= link_to "Dashboard", rentals_path, class:"btn btn-primary btn-lg" %></p>
  <% end %>
        <h1 class="text-center" >There are stories hidden on every bookshelf in the world.</h1>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="card-product">
    <div class="container">
      <h4 class="text-center" >Looking for a special book? Need some reading inspiration?</h4>
      <h4 class="text-center" >Check out the books that are <b>close</b> to you, <b>connect</b> with fellow readers and <b>find</b> a book!</h4>
      <div class="cards">
        <div class="card">
          <% @books.each do |book| %>
          <h4 class="book-title"> Title: <%= book.title %></h4>
          <h5 class="book-author"> Author: <%= book.author %></h5>
          <h5 class="book-genre"> Genre: <%= book.genre %></h5>
          <h6 class="book-description"><em><%= book.description %></em></h6>
          <p><%= link_to "read more", book_path(book), class: "btn btn-info btn-sm "%></p>
          <p class="book-rental-price"><%= book.daily_price %>€</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
