<h1>Book a Book!</h1>
<h2>I want to:</h2>
<p><%= link_to "Add a new Book!", new_book_path(@book) %></p>
<p>Books are ready to be booked:</p>
<ul>
  <% @books.each do |book| %>
    <li><%= book.title %></li>
    <li><%= book.author %></li>
    <p><%= link_to "Show", book_path(book) %></p>
    <p><%= link_to "Delete", book_path(book) %></p>
  <% end %>
</ul>
