<<<<<<< HEAD
<h1>New Book:</h1>
<p><%= link_to "Back to browing books.", root_path %></p>
<%= simple_form_for(@book) do |f| %>
=======
<h2>This is the New page</h2>
<%= simple_form_for(book) do |f| %>
>>>>>>> master
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :genre %>
  <%= f.input :date_of_publication %>
  <%= f.input :daily_price %>
  <%= f.input :language %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
