<h1>Title: <%= @book.title %></h1>
<h1>Author: <%= @book.author%></h1>
<p><%= link_to "Back to browsing books.", root_path %></p>
<p><%= link_to "Edit", edit_book_path(@book) %></p>
<p><%=  button_to "Delete", @book, method: :delete %></p>
